---
import SectionTitle from '../components/SectionTitle.astro';
import { getI18N } from '../i18n';
const { currentLocale} = Astro
const i18n = getI18N({currentLocale});
import Button from '../components/Button.astro';
const resumeUrl = i18n.CONTACT.RESUME_URL; // Obtén la URL del CV del archivo i18n actual

const sectionId = 'contact';

import Social from '../components/Social.astro';

const personalLinks = [
  { url: "https://www.linkedin.com/in/limber-martinez-developer/", iconClass: "fab fa-linkedin", label: "LinkedIn" },
  { url: "https://github.com/limbpuma", iconClass: "fab fa-github", label: "GitHub" }
];
---
<div id="contact_section">
<SectionTitle sectionId={sectionId} />
<div class="flex flex-col lg:flex-row items-center bg-base-200 p-4 rounded-lg shadow mx-auto">
    
    
        
    <div  class="text-center lg:w-1/2 p-4">
        <img src="../images/img-contact.png" alt="Anfitrión" class="rounded-full w-32 h-32 mb-4 mx-auto border-2 p-2" loading="lazy">
        <h2 class="text-2xl font-bold mb-2">{i18n.CONTACT.SUBTITLE}</h2>
        <h3 class="text-xl mb-4">{i18n.CONTACT.TITLE}</h3>
        <p class="mb-4">{i18n.CONTACT.DESCRIPTION}</p>
        <div class="flex gap-4 justify-center">
          <Social links={personalLinks} />
        </div>
        <div class="mt-8">
          <Button text={i18n.CONTACT.RESUME} href={resumeUrl} newTab={true} />

        </div>

    </div>
    <div class="w-full lg:w-1/2 flex justify-center items-center my-4 lg:my-0"> <!-- Ajusta el margen vertical aquí -->
        <div class="calendly-inline-widget w-full" data-url="https://calendly.com/limbpuma/30min?hide_event_type_details=1&hide_gdpr_banner=1" style="height: 700px;"></div>
    </div>
    
</div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
</div>