
---
// Importa el componente Social
import { getI18N } from '../i18n';
const { currentLocale} = Astro
const i18n = getI18N({currentLocale});
// Supongamos que tienes definido algo como esto en tu archivo i18n
import LegalModal from '@components/LegalModal.jsx';
import PrivacyModal from '@components/PrivacyModal.jsx'; 

const legalTitle = i18n.LEGAL.TITLE;
const legalContent = `${i18n.LEGAL.INTRODUCTION} ${i18n.LEGAL.CONTENT} ${i18n.LEGAL.ADDITIONAL}`;
const closeButtonText = i18n.LEGAL.CLOSE_BUTTON;
const techLinks = [
  {
    name: 'Astro',
    url: 'https://astro.build/',
    icon: '/images/astro.svg',
  },
  {
    name: 'React',
    url: 'https://reactjs.org/',
    icon: '/images/react.svg',
  },
  {
    name: 'Tailwind CSS',
    url: 'https://tailwindcss.com/',
    icon: '/images/tailwind.svg',
  },
];
---
<footer class="bg-base-100 text-base-content p-10 rounded-lg w-full max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 mt-12">
  <div class="container mx-auto text-center">
    <div class="mb-4">
      <div class="flex justify-center gap-4">
        <!-- Itera sobre cada enlace de tecnología para generar dinámicamente los iconos -->
        {techLinks.map((tech) => (
          <a href={tech.url} class="tooltip tooltip-bottom" data-tip={tech.name} target="_blank" rel="noopener noreferrer">
            <img src={tech.icon} class="w-8 h-8 filter hover:brightness-125" alt={tech.name} loading="lazy">
          </a>
        ))}
      </div>
    </div>
    <div class="mb-4">
      <LegalModal client:load title={legalTitle} content={legalContent} closeButtonText={closeButtonText} />
      <PrivacyModal 
  client:load 
  title="Privacy Policy" 
  content={i18n.PRIVACY.CONTENT} 
  dataCollection={i18n.PRIVACY.DATA_COLLECTION}
  dataUsage={i18n.PRIVACY.DATA_USAGE}
  dataProtection={i18n.PRIVACY.DATA_PROTECTION}
  userRights={i18n.PRIVACY.USER_RIGHTS}
  closeButtonText={i18n.PRIVACY.CLOSE_BUTTON} />

    </div>
    <p class="text-sm mb-2">{i18n.FOOTER.COPYRIGHT}</p>
  </div>
</footer>
